body {
    padding-top: 60px
}

.MeetingGrid_meeting_default {
    border-style: double;
    cursor: move
}

.MeetingGrid_meeting_selected {
    border-style: double;
    cursor: move;
    background-color: green
}

.MeetingGrid_meeting_conflict {
    border-style: double;
    cursor: move;
    background-color: red
}

table.Calendar_calendar {
    width: 100%;
    margin-bottom: 20px;
}

table.Calendar_calendar tr td {
    border-style: solid;
    width: 14%;
    height: 5em;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.Calendar_date {
    text-decoration: underline;
}

.Calendar_time {
    font-style: italic;
}

.Calendar_buttn {
    float: right;
    clear: right;
}

div.Calendar_fields {
    margin-top: 20px;
}

div.Calendar_item {
    margin-bottom: 5px;
    display: inline-table;
    width: 100%;
}

.PsetGrade_summary {
    width: 100%;
    border-style: solid;
    cursor: pointer;
}

.PsetGrade_fullHeader {
    width: 100%;
    border-style: solid;
    cursor: pointer;
    margin-bottom: 10px;
}

.PsetGrade_full {
    width: 100%;
    border-style: solid;
    padding: 10px;
}

.PsetGrade_editingHeader {
    width: 100%;
    border-style: solid;
}

.PsetGrade_editing {
    width: 100%;
    border-style: solid;
    padding: 10px;
}

.PsetSub_file {
    width: 100%;
    border-style: solid;
    padding: 10px;
}

.Discussion_post {
    width: 100%;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.Discussion_post_header {
    border-style: solid;
    padding: 5px;
}

.LinearStateMachine_downArrow {
    text-align: center
}

.LinearStateMachine_label {
    text-align: center
}

.Auth_alert_fixed {
    width: 50%;
    height: 100px;
    background-color: aqua;

    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 0px 10px 10px 10px;
    border-style: solid;
}
