body {
    padding-top: 60px
}

.MeetingGrid_meeting_default {
    border-style: double;
    cursor: move
}

.MeetingGrid_meeting_selected {
    border-style: double;
    cursor: move;
    background-color: green
}

.MeetingGrid_meeting_conflict {
    border-style: double;
    cursor: move;
    background-color: red
}

table.Calendar_calendar {
    width: 100%;
}

table.Calendar_calendar tr td {
    border-style: solid;
    width: 14%;
    height: 5em;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

.Calendar_date {
    text-decoration: underline;
}

.Calendar_time {
    font-style: italic;
}
